/*=====GOOGLE FONT=======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');
body{
	background: #ede5f6;
	font-family: 'Poppins', sans-serif;
}
.navbar{
	background: rgba(0,0,0,0.6)!important;
}
 .nav-link {
	color: #fff;
	padding: 17px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	 
}
.navbar-brand h1{
	font-size: 19px;
}
.icon{
	color: lightblue;
}
.home{
	background-image: url(download.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.container{
			margin-top: 90px;
		}
